body {
    background-color: gainsboro;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.photo-footer {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipelist {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipebody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingredient-list {
    list-style-type: square;
}